/*Базовые стили*/
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    padding: 0;

    font-family: "Montserrat", "Arial", "sans-serif";
    font-weight: 500;
    font-size: 69px;
    line-height: 47px;
    color: #ffffff;

    background-color: #ffffff;
}

/*Покадровые анимации*/

/*Анимация мерцающего курсора*/
@-webkit-keyframes blinking-cursor {
    0% {
        border-color: #4b6ecd;
    }

    50% {
        border-color: transparent;
    }

    100% {
        border-color: #4b6ecd;
    }
}
@keyframes blinking-cursor {
    0% {
        border-color: #4b6ecd;
    }

    50% {
        border-color: transparent;
    }

    100% {
        border-color: #4b6ecd;
    }
}
/*Анимация печатной машинки для заголовка*/
@-webkit-keyframes print-letter {
    0% {

        visibility: visible;
        width: 0;
    }
    100% {
        width: 100%;
        visibility: visible;
    }
}
@keyframes print-letter {
    0% {

        visibility: visible;
        width: 0;
    }
    100% {
        width: 100%;
        visibility: visible;
    }
}

/*Анимация появления параграфа*/
@-webkit-keyframes show-hidden {
    0% {
        opacity: 0.4;
        visibility: visible;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}
@keyframes show-hidden {
    0% {
        opacity: 0.4;
        visibility: visible;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

/*Анимация заполнения линии прогресс-бара*/
@-webkit-keyframes progress-line {
    0% {
        width: 0;

        background-color: #4b6ecd;
        visibility: visible;
    }

    100% {
        width: 80%;

        visibility: visible;
    }
}
@keyframes progress-line {
    0% {
        width: 0;

        background-color: #4b6ecd;
        visibility: visible;
    }

    100% {
        width: 80%;

        visibility: visible;
    }
}

/*Анимация изменения десятков на прогресс баре*/
@-webkit-keyframes change-decades {
    0% { top: 0; visibility: visible}
    9.9% { top: 0; visibility: visible}
    10%{ top: -1em; visibility: visible}
    19.9%{ top: -1em; visibility: visible}
    20%{ top: -2em; visibility: visible }
    29.9%{ top: -2em; visibility: visible}
    30%{ top: -3em; visibility: visible}
    39.9%{ top: -3em; visibility: visible}
    40%{ top: -4em; visibility: visible}
    49.9%{ top: -4em; visibility: visible }
    50% { top: -5em; visibility: visible}
    59.9%{ top: -5em; visibility: visible}
    60%{ top: -6em; visibility: visible }
    69.9%{ top: -6em; visibility: visible}
    70%{ top: -7em; visibility: visible}
    100%{ top: -7em; visibility: visible }
}
@keyframes change-decades {
    0% { top: 0; visibility: visible}
    9.9% { top: 0; visibility: visible}
    10%{ top: -1em; visibility: visible}
    19.9%{ top: -1em; visibility: visible}
    20%{ top: -2em; visibility: visible }
    29.9%{ top: -2em; visibility: visible}
    30%{ top: -3em; visibility: visible}
    39.9%{ top: -3em; visibility: visible}
    40%{ top: -4em; visibility: visible}
    49.9%{ top: -4em; visibility: visible }
    50% { top: -5em; visibility: visible}
    59.9%{ top: -5em; visibility: visible}
    60%{ top: -6em; visibility: visible }
    69.9%{ top: -6em; visibility: visible}
    70%{ top: -7em; visibility: visible}
    100%{ top: -7em; visibility: visible }
}
/*Анимация изменения единиц на прогресс-баре*/
@-webkit-keyframes change-units {
    0% { top: 0; }
    9.9% { top: 0; }
    10%{ top: -1em; }
    19.9%{ top: -1em; }
    20%{ top: -2em; }
    29.9%{ top: -2em; }
    30%{ top: -3em; }
    39.9%{ top: -3em; }
    40%{ top: -4em; }
    49.9%{ top: -4em; }
    50% { top: -5em; }
    59.9%{ top: -5em; }
    60%{ top: -6em; }
    69.9%{ top: -6em; }
    70%{ top: -7em; }
    79.9%{ top: -7em; }
    80%{ top: -8em; }
    89.9%{ top: -8em; }
    90%{ top: -9em; }
    99.9%{ top: -9em; }
    100% { top: -9em; }
}
@keyframes change-units {
    0% { top: 0; }
    9.9% { top: 0; }
    10%{ top: -1em; }
    19.9%{ top: -1em; }
    20%{ top: -2em; }
    29.9%{ top: -2em; }
    30%{ top: -3em; }
    39.9%{ top: -3em; }
    40%{ top: -4em; }
    49.9%{ top: -4em; }
    50% { top: -5em; }
    59.9%{ top: -5em; }
    60%{ top: -6em; }
    69.9%{ top: -6em; }
    70%{ top: -7em; }
    79.9%{ top: -7em; }
    80%{ top: -8em; }
    89.9%{ top: -8em; }
    90%{ top: -9em; }
    99.9%{ top: -9em; }
    100% { top: -9em; }
}

/*Общая секция*/

.promo {
    width: 100%;
    height: inherit;
    margin: 0 auto;

    background-color: #1a1a1a;
}

.promo__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    max-width: 560px;
    margin: 0 auto;
    padding: 0 20px;
}

.promo__title {
    display: block;

    font-weight: 500;
    font-size: 45px;
    line-height: 40px;
    color: #4b6ecd;
    text-transform: uppercase;
}

.promo__title--cyber {
    max-width: 250px;
    margin-bottom: 20px;

    text-align: left;
    letter-spacing: 5px;
    white-space: nowrap;

    border-right: 35px solid transparent;

    overflow: hidden;
    visibility: hidden;
    -webkit-animation: blinking-cursor 1s step-end 4,
    print-letter 1s steps(6, end) forwards;
    animation: blinking-cursor 1s step-end 4,
    print-letter 1s steps(6, end) forwards;
}

.promo__title--decoration {
    margin-bottom: 30px;

    font-weight: 500;
    font-size: 28px;
    line-height: 28px;
    color: #ffffff;
    text-transform: lowercase;
    letter-spacing: 5px;
    white-space: nowrap;

    border-right: 30px solid transparent;

    overflow: hidden;
    visibility: hidden;
    -webkit-animation: blinking-cursor 1s step-end infinite 2s,
    print-letter 2s steps(12, end) 4s forwards;
    animation: blinking-cursor 1s step-end infinite 2s,
    print-letter 2s steps(12, end) 4s forwards;
}

.promo__note {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: 100%;
    margin-top: 0;

    font-size: 18px;
    line-height: calc(18px * 1.2);
    color: #5d84d7;
    text-align: center;

    visibility: hidden;
    -webkit-animation: show-hidden 2s ease 16s forwards;
    animation: show-hidden 2s ease 16s forwards;
}

/*Секция прогресс-бара*/

.preload {
    width: 100%;
    margin-bottom: 10px;

    visibility: hidden;
    -webkit-animation: show-hidden 1s ease 6s forwards;
    animation: show-hidden 1s ease 6s forwards;
}

.preload__wrapper {
    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;

    border: 2px solid #ffffff;
}

.preload__wrapper::before,
.preload__wrapper::after {
    content: "";

    position: absolute;
    top: 50%;

    display: block;
    width: 9px;
    height: 38px;

    background-color: #1a1a1a;
    border: 2px solid #ffffff;

    -webkit-transform: translateY(-50%);

    -ms-transform: translateY(-50%);

    transform: translateY(-50%);
}

.preload__wrapper::before{
    left: -9px;

    background-color: #4b6ecd;
    border-right: none;
    border-radius: 0 1px 1px 0;
}

.preload__wrapper::after{
    right: -9px;

    border-left: none;
    border-radius: 1px 0 0 1px;
}

.preload__progress {
    width: 80%;
    height: 40px;

    visibility: hidden;

    background-color: #4b6ecd;
    -webkit-animation: progress-line 8s ease-out 7s forwards;
    animation: progress-line 8s ease-out 7s forwards;
}

.preload__value,
.preload__percentage {
    position: absolute;
    top: 50%;
    left: 50%;

    font-size: 15px;
    text-transform: uppercase;

    -webkit-transform: translate(-50%, -50%);

    -ms-transform: translate(-50%, -50%);

    transform: translate(-50%, -50%);
}

.preload__value {
    width: 1em;
    height: 1em;

    line-height: 1em;

    overflow: hidden;
}

.preload__value--decades {
    left: 47%;
}

.preload__value-components {
    position: relative;
}

.preload__value--units .preload__value-components {
    -webkit-animation: change-units 1s ease-out 8 7s;
    animation: change-units 1s ease-out 8 7s;
}

.preload__value--decades .preload__value-components {
    visibility: hidden;
    -webkit-animation: change-decades 10s ease-out 1 8s forwards;
    animation: change-decades 10s ease-out 1 8s forwards;
}

.preload__percentage {
    left: 53.5%;
}

@media screen and (min-width: 768px) {

    .promo__wrapper {
        width: 100%;
        max-width: 960px;
    }

    .promo-title {
        max-width: 775px;
    }

    .promo__title--cyber {
        max-width: none;
        font-size: 166px;
        line-height: 153px;

        border-right: 55px solid transparent;
    }

    .promo__title--decoration {
        height: 67px;
        max-width: none;

        font-size: 93px;
        line-height: 47px;

        border-right: 60px solid transparent;
        margin-bottom: 100px;
    }

    .promo__note {
        font-size: 69px;
        line-height: calc(69px * 1.2);
    }

    .preload {
        margin-bottom: 20px;
    }

    .preload__wrapper {
        max-width: 520px;
    }

    .preload__progress {
        height: 48px;
    }

    .preload__value,
    .preload__percentage {
        font-size: 22px;
    }
}